<h3>Change Password</h3>
<div class="card">
  <div class="card-body">
<form [formGroup]="chpwdForm" (ngSubmit)="validateForm()">
    <small style="color:red;" *ngIf="chpwdForm.invalid && chpwdForm.errors">{{ chpwdForm.errors.error_message}}</small><br>
    <small style="color:green;" *ngIf="chpwdForm.valid && chpwdForm.errors">{{ chpwdForm.errors.error_message}}</small><br>
<div class="form-group">
  <label for="oldpassword">Old Password</label>

    <input type="password" class="form-control" formControlName="oldpassword" name="oldpassword" id="oldpassword">
    <div class="alert alert-danger" *ngIf="oldpassword.touched && oldpassword.invalid">

        <small style="color:red;" *ngIf="oldpassword.errors.required">Old Password is required </small><br> 
        <small style="color:red;" *ngIf="oldpassword.errors.checkOldPassword">Old Password is wrong</small>
 
  </div>
</div>
<div class="form-group">
    <label for="newpassword">New Password</label>
   
      <input type="password" class="form-control" formControlName="newpassword" name="newpassword" id="newpassword">
      <div class="alert alert-danger" *ngIf="newpassword.touched && newpassword.invalid">
          <small style="color:red;" *ngIf="newpassword.errors.required">New Password is required </small><br> 
    </div>
  </div>
  <div class="form-group">
      <label for="repeatpassword">Repeat Password</label>
  
        <input type="password" class="form-control" formControlName="repeatpassword" name="repeatpassword" id="repeatpassword" >
        <div class="alert alert-danger" *ngIf="repeatpassword.touched && repeatpassword.invalid">
        <small style="color:red;" *ngIf="repeatpassword.errors.required">Repeat Password is required </small><br> 
        </div>
        <small style="color:red;" *ngIf="repeatpassword.valid && chpwdForm.errors && chpwdForm.errors.repeatpassworderror">Repeat Password is wrong</small>
    </div>
    <button type="submit" class="btn btn-dark"> Change Password</button>
  </form>
</div>
</div>