
<h1>
  Course Component </h1>
<br>
<p>
  {{dummytext}}
</p>
<span>Total Posts : {{ posts.length }}</span>
<br/>  
<span>Total Pics: {{ totalpics }}</span>
<p> Service Call : {{ servicedata }} </p>
<p> called from global variable : {{dumtext}}</p>
<div (click) = "onDivClick()">
<button class="btn btn-danger" [class.btn-outline-primary]="btnIsActive"> Hello Click Me!</button>
<button class="btn  btn-success" (click) = "onSuccess($event)" > Hello Click Me!</button>
<button class="btn btn-warning"  > Hello Click Me!</button>
</div>
<br/>

<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control" name="FirstName" placeholder="First Name" (keyup.enter)="onKeyUp($event)"/>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" name="LastName" placeholder="Last Name" #lname (keyup)="onKeyUp($event, lname.value)" />
  </div>
  <div class="col-md-2">
      <input type="email" class="form-control" name="email" placeholder="Email Address" (keyup)="onKeyUp($event, lname.value)" />
  </div>
</div>
<div class="row">
    <div class="col-md-2">
        <input type="email" [value]="email" class="form-control" name="planet" placeholder="Planet" (keyup.enter)=" email=$event.target.value;onKeyUp($event, lname.value)" />
    </div>
    <div class="col-md-2">
        <input type="email" [(ngModel)]="email" class="form-control" name="planet" placeholder="Planet" (keyup.enter)="printemail()" />
    </div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="titlecase" class="form-control" name="titlecase" placeholder="Tite Case Converter" />
        {{titlecase| sentencecase}}
    </div>
  </div>


title: {{courses.title | summary:'100' | uppercase}} <br/>
rating: {{courses.rating | number:'1.2-2'}} <br/>
students: {{courses.students | number}} <br/>
price: {{courses.price |currency:'AED'}} <br/>
<p (click)="toggleFormat()">releaseDate: {{courses.releaseDate | date:format}}</p> <br/>
<app-rating></app-rating>



<i class="fa fa-camera-retro fa-lg"></i> fa-lg
<i class="fa fa-camera-retro fa-2x"></i> fa-2x
<i class="fa fa-camera-retro fa-3x"></i> fa-3x
<i class="fa fa-camera-retro fa-4x"></i> fa-4x
<i class="fa fa-camera-retro fa-5x"></i> fa-5x