
<h1>
  Course Component </h1>

<br>
<app-rating [is-favourite] = "course.isFavourite" (change)="onRatingChanged($event)" ></app-rating>
<p>
  {{dummytext}}
</p>
<span>Total Posts : {{ posts.length }}</span>
<br/>  
<span>Total Pics: {{ totalpics }}</span>
<p> Service Call : {{ servicedata }} </p>
<p> called from global variable : {{dumtext}}</p>
<div (click) = "onDivClick()">
<button class="btn btn-danger" [class.btn-outline-primary]="btnIsActive"> Hello Click Me!</button>
<button class="btn  btn-success" (click) = "onSuccess($event)" > Hello Click Me!</button>
<button class="btn btn-warning"  > Hello Click Me!</button>
</div>
<br/>

<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control" name="FirstName" placeholder="First Name" (keyup.enter)="onKeyUp($event)"/>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" name="LastName" placeholder="Last Name" #lname (keyup)="onKeyUp($event, lname.value)" />
  </div>
  <div class="col-md-2">
      <input type="email" class="form-control" name="email" placeholder="Email Address" (keyup)="onKeyUp($event, lname.value)" />
  </div>
</div>
<div class="row">
    <div class="col-md-2">
        <input type="email" [value]="email" class="form-control" name="planet" placeholder="Planet" (keyup.enter)=" email=$event.target.value;onKeyUp($event, lname.value)" />
    </div>
    <div class="col-md-2">
        <input type="email" [(ngModel)]="email" class="form-control" name="planet" placeholder="Planet" (keyup.enter)="printemail()" />
    </div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="titlecase" class="form-control" name="titlecase" placeholder="Tite Case Converter" />
        {{titlecase| sentencecase}}
    </div>
  </div>
  <div class="col-sm-12 col-lg-6 col-md-12">
      <h2>Striped Rows</h2>
      <p>The .table-striped class adds zebra-stripes to a table:</p>            
      <table class="table table-striped">
        <thead classs="thead-dark">
          <tr>
            <th>Property</th>
            <th>Value</th>
          
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Title</td>
            <td> {{course.title | summary:'100' | uppercase}}</td>
          
          </tr>
          <tr>
            <td>rating</td>
            <td>{{course.rating | number:'1.2-2'}}</td>
           
          </tr>
          <tr>
            <td>students</td>
            <td>{{course.students | number}}</td>
            
          </tr>
          <tr>
            <td>price</td>
            <td>{{course.price |currency:'AED'}}</td>
            
          </tr>
         
        </tbody>
      </table>
    </div>



<i class="fa fa-camera-retro fa-lg"></i> fa-lg
<i class="fa fa-camera-retro fa-2x"></i> fa-2x
<i class="fa fa-camera-retro fa-3x"></i> fa-3x
<i class="fa fa-camera-retro fa-4x"></i> fa-4x
<i class="fa fa-camera-retro fa-5x"></i> fa-5x

<div class="row">
  <div class="w-50 m-3">
    <bootstrap-panel>
        <ng-container class="heading">My Heading</ng-container>
            <div class="body">Body 456</div>
      </bootstrap-panel>
    </div>
</div>
<app-like></app-like>