
<div class="d-inline-flex p-2">
    Rating : 
    <i class="fa fa-2x" [ngClass] = "{'fa-star':isFavourite,'fa-star-o':!isFavourite }" (click)="toggleState()" aria-hidden="true" style="cursor:pointer" ></i>
    <i class="fa fa-2x" [ngClass] = "{'fa-star':isFavourite,'fa-star-o':!isFavourite }" (click)="toggleState()" aria-hidden="true" style="cursor:pointer" ></i>
    <i class="fa fa-2x" [ngClass] = "{'fa-star':isFavourite,'fa-star-o':!isFavourite }" (click)="toggleState()" aria-hidden="true" style="cursor:pointer" ></i>
</div>
