<h3>
  Template driven Forms
</h3>
<div class="row">
  <div class="col-md-6">
      <form #f = "ngForm" (ngSubmit)="submit(f)" > 
         
          <div class="form-group row">
            <label for="eid" class="col-4 col-form-label">Emirates ID</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-address-card-o"></i>
                </div> 
                <input id="eid" ngModel #eid = "ngModel" name="eid" placeholder="Emirates ID Card" type="text" class="form-control here" aria-describedby="eidHelpBlock"  pattern="[0-9]{3}-[0-9]{4}-[0-9]{7}-[0-9]{1}" required>
              </div> 
              <div *ngIf="eid.touched && !eid.valid">
              <small style="color:red;" *ngIf="eid.touched && eid.errors.required">Emirates Id is required </small><br> 
              <small style="color:red;" *ngIf="eid.touched && eid.errors.pattern">Emirates Id doesnt match pattern!</small>
              </div>
              <span id="eidHelpBlock" class="form-text text-muted">Fill your Emirates ID card without dashes</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="fullName" class="col-4 col-form-label">Full Name</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-address-card-o"></i>
                </div> 
                <input  id="fullName" ngModel #fullName = "ngModel" name="fullName" placeholder="Enter your full name" type="text" class="form-control here" required="required">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="specialNote" class="col-4 col-form-label">Special Notes</label> 
            <div class="col-8">
              <textarea id="specialNote" ngModel #specialNote = "ngModel" name="specialNote" cols="40" rows="5" class="form-control" aria-describedby="specialNoteHelpBlock" required></textarea> 
              <span id="specialNoteHelpBlock" class="form-text text-muted">Enter you special note to the manager</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4">Favourite Gadget</label> 
            <div class="col-8">
              <label class="custom-control custom-radio">
                <input name="favGadget" ngModel #favGadget = "ngModel" type="radio" class="custom-control-input" value="ipad" aria-describedby="favGadgetHelpBlock" required="required"> 
                <span class="custom-control-indicator"></span> 
                <span class="custom-control-description">iPad</span>
              </label>
              <label class="custom-control custom-radio">
                <input name="favGadget" type="radio" ngModel #favGadget = "ngModel" class="custom-control-input" value="mobilephone" aria-describedby="favGadgetHelpBlock" required="required"> 
                <span class="custom-control-indicator"></span> 
                <span class="custom-control-description">Mobile Phone</span>
              </label>
              <label class="custom-control custom-radio">
                <input name="favGadget" type="radio"  ngModel #favGadget = "ngModel" class="custom-control-input" value="wirelessspeaker" aria-describedby="favGadgetHelpBlock" required="required"> 
                <span class="custom-control-indicator"></span> 
                <span class="custom-control-description">Wireless Speakers</span>
              </label> 
              <span id="favGadgetHelpBlock" class="form-text text-muted">Choose your favourite hand-held device</span>
            </div>
          </div>
          <div class="form-group row" ngModelGroup="favouriteMobile">
            <label class="col-4">Favourite Mobile</label> 
            <div class="col-8">
              <label class="custom-control custom-checkbox">
                <input name="samsung" type="checkbox"  ngModel #samsung = "ngModel" class="custom-control-input" value="samsung"  checked="checked"> 
                <span class="custom-control-indicator"></span> 
                <span class="custom-control-description">Samsung</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input name="lg" type="checkbox"  ngModel #lg = "ngModel" class="custom-control-input" value="lg"> 
                <span class="custom-control-indicator"></span> 
                <span class="custom-control-description">LG</span>
              </label>
              <label class="custom-control custom-checkbox">
                <input name="xiaomi" type="checkbox"  ngModel #xiaomi = "ngModel" class="custom-control-input" value="xiaomi" > 
                <span class="custom-control-indicator"></span> 
                <span class="custom-control-description">Xiaomi</span>
              </label>
            </div>
          </div> 
          <div class="form-group row">
              <label for="country" class="col-4 col-form-label">Country</label> 
              <div class="col-8">
                <select id="country" multiple name="country" ngModel #country = "ngModel" required="required" class="custom-select">
                  <option *ngFor="let country of countries;" [value]="country.id">{{country.name}}</option>
                  
                </select>
              </div>
            </div> 
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-primary" [disabled]="!f.valid" >Submit</button>
            </div>
          </div>
          {{f.value | json}}
        </form>
  </div>
  <div class="col-md-6">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Full Name</th>
              <th scope="col">Emirated ID</th>
              <th scope="col">Fav Gadget</th>
              <th scope="col">Country</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts; index as i">
              <th scope="row">{{i}}</th>
              <td>{{contact.fullName}}</td>
              <td>{{contact.eid}}</td>
              <td>{{contact.favGadget}}</td>
              <td>{{contact.country}}</td>
            </tr>
           
          </tbody>
        </table>
        <h3>Reactive Forms</h3>
        <div class="card" style="width:100%">
          <div class="card-body">
              <form [formGroup]="form2" (ngSubmit)="register()" >
                <div class="form-group">
                  <label for="username"> Username</label>
                  <input type="text" formControlName="username" name="username"  id="username" placeholder="<unique username>" class="form-control" >
                    
                      <div *ngIf="username.touched && username.invalid" class="alert alert-danger small">
                          <span *ngIf="username.errors.required">Username is mandatory</span>
                          <span *ngIf="username.errors.cannotContainSpace">Username cannot contain spaces</span>
                          <span *ngIf="username.errors.shouldBeUnique">Username is already taken</span>
                      </div>  
                      <span *ngIf="username.pending" class="small"> checking...</span>
                </div>
                  <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input formControlName="fullname" type="text" name="fullname" id="fullname" class="form-control" >
                    <div *ngIf="fullname.touched && fullname.invalid" class="alert alert-danger small">
                        <span *ngIf="fullname.errors.required"> Full Name is required </span>
                        <span *ngIf="fullname.errors.minlength"> Min {{fullname.errors.minlength.requiredLength}} charecters are required. </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="notes"> Comments / Notes</label>
                    <textarea formControlName="notes" name="notes" id="notes" class="form-control"></textarea>
                    <div *ngIf="notes.touched && notes.invalid" class="alert alert-danger small">
                        <span *ngIf="notes.errors.required"> Please enter some notes </span>
                        <span *ngIf="notes.errors.minlength"> Min {{fullname.errors.minlength.requiredLength}} charecters are required. </span>
                        <span *ngIf="notes.errors.cannotContainSplChar?.result"> Special Charecters are not allowed. </span>
                    </div>
                  
                  </div>
                  <button [disabled]="!form2.valid" class="btn btn-success" style="cursor: pointer" type="submit">Submit Comment</button>
                  <div class="alert alert-danger" *ngIf="form2.errors">
                    <span class="small" *ngIf="form2.errors.regerror">
                      {{form2.errors.regerror_text}}
                  </span></div>
                </form>
                
          </div>
        </div>
        
        
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form ngFormGroup="arrayform" > 
      <h3>Form Array</h3>
      <input type="text" name="coursename" id="coursename" (keyup.enter)="addCourse(course)" #course>
    </form>
    <ul class="list-group" >
      <li class="list-group-item" *ngFor="let course of arrayform.get('coursename').controls;" (click)="removeCourse(course)">{{course.value}}</li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-change-password></app-change-password>
  </div>
  <div class="col-md-2"></div>
</div>
